.itemMega {
    text-align: left;
}
.btn-addcart-modal {
    float: left;
    height: 40px;
    border: none;
    padding: 10px 30px;
    background: #f34040;;
    color: #fff;
    font-size: 15px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border: 1px solid #fff;
    outline: none;
    line-height: 1;
}